

form {
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* border-radius: 20px; */
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: black;
    font-size: 25px;
}

label {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #cee6cc;
    border: 2px solid #81218c;
    color: rgb(10, 56, 10);
    outline: none;
}


input::placeholder, textarea::placeholder {
    color: #75b878;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.form-txt a {
    color: darkcyan;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}


.btn {
    font-size: 16px;
    color: rgb(5, 9, 9);
    border: 0;
    border-radius: 25px;
    background-color: aquamarine;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0, 4); 
    cursor: pointer;
}

.btn:hover {
    background-color: #cbecc7;
}