body{
    background-color: rgb(233, 181, 181);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 130px;
    background-color: rgb(123, 128, 128);
    position: relative;
    margin-bottom: 10px;
}

.header-image{
    width: 315px;
    position: absolute;
    right: 25px;
}

h1{
    /* margin: 10px auto 10px auto; */
    font-size: 3rem;
    position: absolute;
    left: 80px;
    top: 30px;
}

/* ************** */

.info{
    width: 100%;
    height: 150px;
    /* display: flex;
    align-items: center; */
    margin: 10px 0 10px 0;
    position: relative;
}
.info, p{
    font-size: 1.1rem;
}
.text{
    font-size: 1.5rem;
}
.question{
    position: absolute;
    top: 70px;
    left: 100px;
}
.answer{
    width: 400px;
    position: absolute;
    top: 30px;
    right: 100px;
}

.info2, h3{
    text-align: center;
}
.info2{
    margin-top: 30px;
}

.container-for-cards{
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
}
.theCard{
    background-color: bisque;
    width: 300px;
    height: 325px;
    margin: 0 15px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
img{
    width: 300px;
}











@media  screen and (max-width: 950px){
    
    .info1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question{
        width: 75%;
        position: absolute;
        top: 10px;
    }
    .answer{
        width: 70%;
        margin-top: 30px;
        position: absolute;
    }
}

@media  screen and (max-width: 760px){
    header {
        height: 200px;
    }
    .header-image{
        width: 315px;
        position: absolute;
        bottom: 5px;
    }
    
    h1{
        /* margin: 10px auto 10px auto; */
        font-size: 3rem;
        position: absolute;
        top: 10px;
        left: 20px;
    }
}

@media  screen and (max-width: 695px){
    .info2{
        margin-top: 60px;
    }
        
    .question{
        width: 75%;
        margin-bottom: 30px;
        position: absolute;
        top: 10px;
    }
    .answer{
        width: 70%;
        margin-top: 30px;
        position: absolute;
    }
}

@media  screen and (max-width: 584px){
    .info2{
        margin-top: 90px;
    }
    .question{
        width: 75%;
        position: absolute;
        top: 10px;
    }
    .answer{
        width: 70%;
        margin-top: 30px;
        position: absolute;
    }
}

@media  screen and (max-width: 420px){
    .info2{
        margin-top: 120px;
    }
    .question{
        width: 75%;
        position: absolute;
        top: 10px;
    }
    .answer{
        width: 70%;
        margin-top: 30px;
        position: absolute;
    }
}

